@page "/"

<PageTitle>Meissner URL Shortener</PageTitle>

<h1>Tiny Blazor Admin</h1>
<div>
    <p>
    Welcome to the Meissner URL Shortener.
    </p>
    <div style="align-content: right;"><img class="mainLogo" src="https://www.meissner.com/wp-content/uploads/logo-hirez-meissner.png" /></div>
</div>
